################################################################################
# REPOSITORY SPECIFIC GIT LFS AND ATTRIBUTES                                   #
# ------------------------------------------                                   #
# Format for File: <file patterns> filter=lfs diff=lfs merge=lfs -text         #
# Format for Directory: <directory>/**/* filter=lfs diff=lfs merge=lfs -text   #
#                                                                              #
# ExampleS:                                                                    #
#  (1) File     : *.png filter=lfs diff=lfs merge=lfs -text                    #
#  (2) Directory: logs/**/* filter=lfs diff=lfs merge=lfs -text                #
################################################################################
